/* header */
header{
    height: 80px;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.myheader{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 500px;
}

ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a{
    font-family: 'Raleway', sans-serif;
    font-size: 15.742380142211914px;
    font-weight: normal;
    line-height: 36.99894714355469px;
    font-style: normal;
    text-align: center;
    color: #303134;
}


.fa-bars{
    font-size: 30px;
    color: #303134;
    display: none;
}

/* section 1 */

.s-1{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    height: 570px;
    background-image: url(../images/green.png), url(../images/bg.png);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.text-wrapper h2{
    font-family: "BPG Arial", sans-serif;
    font-size: 78.74051666259766px;
    font-weight: normal;
    line-height: 52.95845413208008px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 36px;
}

.text-wrapper h5{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

/* section 2 */

.wrap-wrapper{
    display: flex;
    justify-content: space-between;
}

.info-wrapper{
    width: 240px;
    margin-right: 50px;
    }

.info-wrapper h2{
    font-family: 'Raleway', sans-serif;
    font-size: 15.998350143432617px;
    font-weight: normal;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
    margin-bottom: 15px;
}

.info-wrapper h3{
    font-family: 'Raleway', sans-serif;
    font-size: 25.9973201751709px;
    font-weight: normal;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
    margin-bottom: 45px;
    
}

.info-wrapper p{
    font-family: 'Raleway', sans-serif;
    font-size: 15.998350143432617px;
    font-weight: 500;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
}

.card-wrapper{
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

}

.card{
    width: 270px;
    margin-bottom: 40px;
}

.card img{
    width: 100%;
    height: 180px;
    margin-bottom: 26px;
}


.card h3{
    font-family: 'Raleway', sans-serif;
    font-size: 17.998149871826172px;
    font-weight: normal;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
    margin-bottom: 13px;
}

.card p{
    font-family: 'Raleway', sans-serif;
    font-size: 15.998350143432617px;
    font-weight: 500;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
}